@media screen and (min-width: 1170px) {
  .card2-holder:hover .hidden,
  .card1-holder:hover .hidden {
    display: block;
  }
}
@media screen and (max-width: 980px) {
  .advantages {
    width: 60%;
    padding-top: 30px;
  }
  .content-wrapper {
    padding-top: 15px;
  }
  .content-wrapper .content-inner {
    width: 90%;
  }
  .content-wrapper .title1 {
    font-size: 3vw;
    line-height: 4vw;
  }
  .logo-wrapper,
  .contacts {
    width: 100%;
    padding: 15px 0;
  }
  .first {
    padding-top: 0;
  }
  .page .header {
    height: auto;
    padding: 0 10px;
  }
  .section_first_holder {
    margin-top: 0;
    max-height: 569px;
  }
  .header {
    text-align: center;
  }
  .slicknav_menu {
    display: block;
  }
  #menu {
    display: none;
  }
  .card {
    padding-bottom: 25px;
    width: 50%;
    min-height: 153px;
  }
  .card > :first-child {
    padding-bottom: 0;
    font-size: 3vw;
  }
  .card1-holder {
    margin-bottom: 0;
  }
  .buttons-wrapper {
    width: 70%;
    font-size: 20px;
  }
  .item {
    padding-right: 1%;
  }
  .six > :first-child {
    font: 3vw/3vw 'latomedium';
    padding: 2vw 5px 1.5vw;
    margin: 6vw 0 20vw;
  }
  .swiper-container {
    min-height: 38.5vw;
    padding-bottom: 10px;
  }
  .swiper-slide .item {
    margin: 0 7%;
  }
}
@media screen and (max-width: 640px) {
  html {
    height: 100%;
    font-size: 60%;
  }
  .swiper-container {
    max-height: 260px;
  }
  .swiper-slide .item {
    min-height: 260px;
    width: 100%;
    margin: 0;
  }
  .swiper-slide .item > :first-child > :first-child {
    max-width: 180px;
    margin: 0 auto;
  }
  .swiper-slide .item > :nth-child(2) {
    font-size: 16px;
    line-height: 16px;
    padding: 12px 0 13px;
  }
  .swiper-slide .item > :nth-child(3) {
    padding-bottom: 0;
  }
  .swiper-slide .item > :nth-child(4),
  .swiper-slide .item > :nth-child(3) {
    font-size: 13px;
    line-height: 14px;
  }
  .contacts {
    display: none;
  }
  .contacts .phone .phone-img {
    padding-left: 0;
  }
  .header {
    text-align: left;
  }
  .page .logo-wrapper {
    display: inline-block;
    text-align: center;
    padding-right: 0;
  }
  .logo {
    padding-left: 0;
  }
  .logo .logo-img {
    float: none;
    margin: 0 auto;
  }
  .logo .logo-text {
    padding-right: 0;
  }
  .first {
    background-position: top;
    -webkit-background-size: auto auto;
            background-size: auto;
    padding-top: 0;
  }
  .section_first_holder {
    max-height: 350px;
  }
  .buttons-wrapper {
    font-size: 2.5vw;
    padding-top: 10px;
  }
  .buttons-wrapper .button_left,
  .buttons-wrapper .button_right {
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 0;
  }
  .buttons-wrapper .button_separator {
    min-height: 33px;
    line-height: 33px;
  }
  .readAboutUs {
    padding-bottom: 30px;
  }
  .readAboutUs > :first-child,
  .readAboutUs > :nth-child(2) {
    font-size: 3.4vw;
    padding-left: 10px;
    padding-right: 10px;
  }
  .readAboutUs > :nth-child(2) {
    padding-bottom: 50px;
  }
  .readAboutUs > :nth-child(3) {
    font-size: 3.14vw;
  }
  .consultation-form > :first-child {
    margin: 0 0 10px;
    width: 60%;
  }
  .consultation-form > :not([type="submit"]) {
    width: 60%;
  }
  .advantages {
    padding-top: 30px;
  }
  .card {
    width: 100%;
  }
  .card:nth-child(1),
  .card:nth-child(2) {
    margin-bottom: 0;
  }
  .card > :first-child {
    font-size: 4.5vw;
  }
  .consultation-form .consultation-order {
    width: 60%;
    font-size: 3vw;
  }
  .card1-holder {
    min-height: 320px;
  }
  .icons {
    padding-left: 30px;
  }
  .footer > :last-child {
    padding: 23px 10px 16px 10px;
  }
  .form-wrapper {
    padding-top: 640px;
  }
  .portfolio .col-third {
    display: none;
  }
  .portfolio .col {
    width: 45.746%;
  }
}
@media screen and (max-width: 480px) {
  .card1-holder {
    min-height: 280px;
  }
  .third-holder {
    padding-bottom: 17px;
  }
  .aboutAs > :nth-child(2) {
    font-size: 18px;
  }
  .aboutAs > :first-child {
    padding-bottom: 0;
  }
  .readAboutUs > :first-child,
  .readAboutUs > :nth-child(2),
  .readAboutUs > :nth-child(3) {
    font-size: 16px;
    line-height: 18px;
  }
  .readAboutUs > :nth-child(2) {
    padding-bottom: 15px;
  }
  .readAboutUs > :first-child {
    padding-bottom: 0;
  }
  .readAboutUs > :nth-child(3) {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .ourSpecialists > :not(:first-child) {
    font-size: 18px;
  }
}
@media screen and (max-width: 320px) {
  .swiper-slide .item > :first-child > :first-child {
    max-width: 150px;
  }
  .slicknav_menu {
    background-color: rgba(255, 255, 255, 0.25);
    position: fixed;
    z-index: 5;
  }
  .slicknav_nav {
    background-color: rgba(52, 70, 78, 0.85);
  }
  .header {
    display: none;
  }
  .slicknav_btn {
    margin: -webkit-calc(13.562px) 0 -webkit-calc(12.562px) 0;
    margin: calc(13.562px) 0 calc(12.562px) 0;
  }
  .advantages {
    display: none;
  }
  .section_second_holder {
    margin-top: 0;
  }
  .form-wrapper {
    padding-top: 40px;
  }
  .buttons-wrapper {
    padding-bottom: 20px;
    font-size: 20px;
    width: 100%;
  }
  .buttons-wrapper .button_left,
  .buttons-wrapper .button_right {
    font-weight: normal;
    padding: 13px 13px 10px;
    float: none;
    margin: 0 auto;
    width: auto;
  }
  .buttons-wrapper .button_separator {
    width: 100%;
  }
  .section_first_holder {
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center top;
    min-height: 460px;
  }
  .content-wrapper {
    padding-top: 80px;
  }
  .content-wrapper .title2 {
    font-size: 19px;
  }
  .content-wrapper .title1 {
    font: 16px/18px 'latobold';
  }
  .consultation-form > :first-child,
  .consultation-form > :nth-child(2) {
    width: auto;
  }
  .consultation-form .consultation-order {
    width: auto;
    font-size: 18px;
    line-height: 20px;
    padding: 5px 5px;
    margin: 30px 10px 0;
  }
  .second {
    padding-bottom: 55px;
  }
  .aboutAs > :first-child {
    font: 27px/29px "latobold";
    padding-bottom: 15px;
  }
  .aboutAs > :nth-child(2) {
    letter-spacing: -0.99px;
  }
  .ourSpecialists > :first-child {
    font: 27px/29px "latobold";
  }
  .portfolio {
    padding: 40px 0 0 0;
  }
  .portfolio .card1-holder {
    min-height: 222px;
  }
  .six > :first-child {
    font: 20px/22px 'latomedium';
    padding: 5px;
    width: auto;
    margin-top: 70px;
  }
  .footer .footer_holder {
    display: inline-block;
    text-align: center;
    padding: 14px 10px 18px 10px;
    font: 12px/14px 'latoitalic';
  }
  .footer .icons {
    display: inline-block;
    padding-left: 0;
    float: none;
  }
}
